body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}
li{
    list-style: none;
}

a {
  text-decoration: none;
  color: rgb(0, 136, 204);
}
a:hover{
  text-decoration: underline;
}

/* mainContainer */

.mainContainer {
  background-image: url("img/your_verse_hero.png");
  background-repeat: no-repeat;
  width: 94%;
  height: 590px;
  margin: -100px 0 0 37px;
  cursor: pointer;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.navbar {
  width: 65%;
  display: flex;
  padding-top: 20px;
  margin-top: 80px;
  padding-left: 200px;
  padding-top: 20px;
  flex-direction: row;
}

.gradlink-style, .gradlinkwithouthover-style {
  height: 30px;
  width: 100px;
  margin-right: -5px;
  margin-top: 100px; 
  padding: 16px 10px 5px 10px;
  background-color: rgb(43, 42, 42);
  border: 1px solid rgb(43, 42, 42);
  border-radius: 4%;
  color: white;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  background-image: linear-gradient(to top, #6a696b 0%, #080808 51%, #6a696b 100%);
}
.gradlinkwithouthover-style{
  width: 140px;
}

.gradlink-style:hover {
  background-image: linear-gradient(to top, #bebbbb 0%, #464646 51%, #1b1b1b 100%);
  
}
.gradlink-style:hover,.imageContainer:hover{
  cursor: pointer;
}

.verse-style {
  display: flex;
  justify-content: center;
  font-size: 70px;
  font-weight: normal;
}

.verseDetails-style {
  display: flex;
  justify-content: center;
  margin-top: -30px;
  font-size: 34px;
}
.verseDetails1-style{
  display: flex;
  justify-content: center;
  font-size: 34px;
  margin-top: -25px;
}

.verselink-style a {
  display: flex;
  justify-content: center;
  font-size: 25px;
  font-weight: lighter;
}

.verse-style,
.verseDetails-style,
.verseDetails1-style,
.verselink-style a {
  color: white;
}

.searchbtn{
  width: 120px;
  height: auto;
  border: 1px solid #1b1b1b;
  border-radius: 10%;
  background-image: linear-gradient(to top, #6a696b 0%, #080808 51%, #6a696b 100%);
}

.ilinksearch {
  position: absolute;
  font-size: 14px;
  padding-left: 10px;
  padding-top: 2px;
}

/* imageContainer */

.imageContainer {
  display: grid;
  width: 93.5%;
  margin: 0 30px 0 35px;
  grid-template-columns: 25% 25% 25% 25%; 
}

/* footer */

.footer-style {
  margin-left: 10px;
}

.first-footer {
  display: flex;
  justify-content: space-between;
  margin-right: 200px;
  margin-top: 20px;
  margin-bottom: -10px;
  font-size: 12px;
}

.first-footer-child {
  margin-top: 5px;
  padding-left: 100px;
}
.first-footer,.first-footer-child, .second-footer {
  padding-left: 100px;
}


.first-footer p {
  color: #464646;
}

.first-footer a {
  padding: 5px;
}

.border {
  border-right: 1px solid rgb(184, 181, 181);
}

.border1 {
  border-right: 1px solid rgb(184, 181, 181);
  padding-right: 4px;
}

.usa-logo {
  padding-top: -10px;
  border-right: none;
  height: 15px;
}

.second-footer p {
  font-size: 13px;
  color: #464646;
  margin-bottom: 15px;
}
